.fc-daygrid-day-number, .fc-col-header-cell-cushion{
    color: black;
    text-decoration: none;
}

.fc-daygrid-day-frame:hover {
    cursor: pointer;
}

#category-color-div{
    height: 25px;
    width: 25px;
    background-color: black;
}